
{% load i18n  staticfiles %}

<!-- page specific plugin styles -->
<link rel="stylesheet" href="{% static 'assets/css/colorbox.css' %}" />

<div id="timeline-1">
    <div class="row" >
<div class="col-xs-12" >
{% for d in historial %}
<!-- #section:pages/timeline -->
<div class="timeline-container">
    <div class="timeline-label">
        <!-- #section:pages/timeline.label -->
        <span class="label label-primary arrowed-in-right label-lg">
            <b>{{d.created_ath}}</b>
        </span>
        <!-- /section:pages/timeline.label -->
    </div>
    <div class="timeline-items">

        <!-- /section:pages/timeline.item -->
        <div class="timeline-item clearfix">
            <div class="timeline-info">
                <i class="timeline-indicator ace-icon fa fa-paperclip btn btn-success no-hover"></i>
            </div>

            <div class="widget-box transparent">
                <div class="widget-header">
                    <h5 class="widget-title smaller">Archivos Adjuntos</h5>
                    <span class="widget-toolbar no-border">
                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                        9:15
                    </span>
                    <span class="widget-toolbar no-border">
                        <a href="#"
                        title="Medico Asignado">
                            <i class="green ace-icon fa fa-user"></i>
                            <span class="green"><small>{{d.colamedica.medico}}</small></span>
                        </a>
                    </span>

                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <ul class="ace-thumbnails clearfix">
                            <!-- #section:pages/gallery -->
                            <li>
                                <a href="{% static 'assets/images/gallery/image-1.jpg' %}" title="Photo Title" data-rel="colorbox">
                                    <img width="200" height="180" alt="150x150" src="{% static 'assets/images/gallery/thumb-1.jpg' %}" />
                                </a>
                                <div class="tags">
                                    <span class="label-holder">
                                        <span class="label label-info">breakfast</span>
                                    </span>

                                    <span class="label-holder">
                                        <span class="label label-danger">fruits</span>
                                    </span>

                                    <span class="label-holder">
                                        <span class="label label-success">toast</span>
                                    </span>

                                    <span class="label-holder">
                                        <span class="label label-warning arrowed-in">diet</span>
                                    </span>
                                </div>

                                <div class="tools">
                                    <a href="#">
                                        <i class="ace-icon fa fa-link"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-paperclip"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-pencil"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-times red"></i>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <a href="{% static 'assets/images/gallery/image-2.jpg' %}" data-rel="colorbox">
                                    <img width="200" height="200" alt="150x150" src="{% static 'assets/images/gallery/thumb-2.jpg' %}" />
                                    <div class="text">
                                        <div class="inner">Sample Caption on Hover</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="space-6"></div>

                        <div class="widget-toolbox clearfix">
                            <div class="pull-right action-buttons">
                                <div class="space-4"></div>

                                <div>
                                    <a href="#">
                                        <i class="ace-icon fa fa-heart red bigger-125"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-facebook blue bigger-125"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-reply light-green bigger-130"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for dd in d.atencion_set.all %}
        <div class="timeline-item clearfix">
            <div class="timeline-info">
                <i class="timeline-indicator ace-icon fa fa-stethoscope btn btn-danger no-hover green"></i>
            </div>
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h5 class="widget-title text-bold smaller text-danger">Consulta</h5>
                    <span class="widget-toolbar no-border">
                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                        9:15
                    </span>
                    <span class="widget-toolbar no-border">
                        <a href="#" title="Medico Asignado">
                            <i class="red ace-icon fa fa-user"></i>
                            <span class="red"><small>{{d.colamedica.medico}}</small></span>
                        </a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <ol>
                            <li>
                                <b>Anamnesis y/o Descripción:</b>
                                <ul class="list-unstyled">
                                    <li>
                                        <p><i class="ace-icon fa fa-caret-right green fa-x2"></i> {{ dd.anamnesis}}</p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <b>Examen Clínico:</b>
                                <ul class="list-unstyled">
                                    {% for ddd in  dd.hallasgos_clinicos.all%}
                                    <li>
                                        <p><i class="ace-icon fa fa-caret-right green fa-x2"></i>
                                            {{ddd.nombre}}
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <b>Constantes:</b>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <ul class="list-unstyled">
                                            <li>
                                                <p><i class="ace-icon fa fa-caret-right green fa-x2"></i> <b>T°:</b>  {{dd.temperatura}}°C</p>
                                            </li>
                                            <li>
                                                <p><i class="ace-icon fa fa-caret-right green fa-x2"></i> <b>FC:</b>  {{dd.fc}}</p>
                                            </li>
                                            <li>
                                                <p><i class="ace-icon fa fa-caret-right green fa-x2"></i> <b>FR:</b>  {{dd.fr}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-6">
                                        <ul class="list-unstyled">
                                            <li>
                                                <p><i class="ace-icon fa fa-caret-right green fa-x2"></i> <b>Peso:</b>  {{dd.kg}}</p>
                                            </li>
                                            <li>
                                                <p><i class="ace-icon fa fa-caret-right green fa-x2"></i> <b>Porcentaje:</b>  {{dd.porcentaje}}%</p>
                                            </li>
                                            <li>
                                                <p><i class="ace-icon fa fa-caret-right green fa-x2"></i> <b>TLC:</b>  {{dd.tlc}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <b>Dx:</b>
                                <ul class="list-unstyled">
                                    <li>
                                        <p><i class="ace-icon fa fa-caret-right green fa-x2"></i> {{ dd.dx}}</p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <b>Pruebas Auxiliares Requeridas:</b>
                                <ul class="list-unstyled">
                                    {% for ddd in  dd.pruebas_auxiliares.all%}
                                        <li>
                                            <p><i class="ace-icon fa fa-caret-right green fa-x2"></i> {{ ddd.nombre}}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <b>Tratamiento:</b>
                                <ul class="list-unstyled">
                                    {% for ddd in  dd.tratamiento.all%}
                                        <li>
                                            <p><i class="ace-icon fa fa-caret-right green fa-x2"></i> {{ ddd.nombre}}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ol>
                        <div class="space-6"></div>
                        <div class="widget-toolbox clearfix">
                            <div class="pull-right action-buttons">
                                <div class="space-4"></div>

                                <div>
                                    <a href="#">
                                        <i class="ace-icon fa fa-heart red bigger-125"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-facebook blue bigger-125"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-reply light-green bigger-130"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% for dd in d.notas_set.all %}
        <div class="timeline-item clearfix">
            <div class="timeline-info">
                <i class="timeline-indicator ace-icon fa fa-file-text-o btn btn-primary no-hover"></i>
            </div>

            <div class="widget-box  transparent">
                <div class="widget-header">
                    <h5 class="widget-title smaller">Nota</h5>
                    <span class="widget-toolbar no-border">
                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                        9:15
                    </span>
                    <span class="widget-toolbar no-border">
                        <a href="#">
                            <i class="ace-icon fa fa-user"></i>
                            <span><small>{{d.colamedica.medico}}</small></span>
                        </a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        {{ dd.descripcion}}
                        <div class="space-6"></div>

                        <div class="widget-toolbox clearfix">
                            <div class="pull-right action-buttons">
                                <div class="space-4"></div>

                                <div>
                                    <a href="#">
                                        <i class="ace-icon fa fa-heart red bigger-125"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-facebook blue bigger-125"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-reply light-green bigger-130"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for dd in d.vacunacion_set.all %}
        <div class="timeline-item clearfix">
            <div class="timeline-info">
                <i class="timeline-indicator ace-icon fa fa-eyedropper btn btn-warning no-hover"></i>
            </div>

            <div class="widget-box transparent">
                <div class="widget-header widget-header-small">
                    <h5 class="widget-title smaller">Vacunas</h5>
                    <span class="widget-toolbar btn-group ">
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle no-border btn-xs">
                                <i class="ace-icon fa fa-navicon"></i>
                                <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-warning">
                                <li class="factura">
                                    <a href="#">
                                        <i class="ace-icon fa fa-dollar purple"></i>
                                        Facturar</a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-pencil green"></i>
                                        Editar</a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-paperclip blue"></i>
                                        Adjuntar un archivo</a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-remove red"></i>
                                        Eliminar</a>
                                </li>
                            </ul>
                        </span><!-- /.btn-group -->
                    <span class="widget-toolbar no-border">
                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                        9:15
                    </span>
                    <span class="widget-toolbar no-border">
                        <a href="#">
                            <i class="ace-icon fa fa-user"></i>
                        </a>
                    </span>

                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        {{ dd.fecha_programada}}
                        {{dd.vobservacion}}
                        {{ dd.vacuna}}
                        <div class="space-6"></div>

                        <div class="widget-toolbox clearfix">
                            <div class="pull-right action-buttons">
                                <div class="space-4"></div>

                                <div>
                                    <a href="#">
                                        <i class="ace-icon fa fa-heart red bigger-125"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-facebook blue bigger-125"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-reply light-green bigger-130"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div><!-- /.timeline-items -->
</div><!-- /.timeline-container -->
<!-- /section:pages/timeline -->

{% endfor %}
</div>
</div>
</div>


<script src="{% static 'assets/js/jquery.colorbox.js' %}"></script>
<script type="text/javascript">
    jQuery(function($) {
var $overflow = '';
var colorbox_params = {
    rel: 'colorbox',
    reposition:true,
    scalePhotos:true,
    scrolling:false,
    previous:'<i class="ace-icon fa fa-arrow-left"></i>',
    next:'<i class="ace-icon fa fa-arrow-right"></i>',
    close:'&times;',
    current:'{current} of {total}',
    maxWidth:'100%',
    maxHeight:'100%',
onOpen:function(){
    $overflow = document.body.style.overflow;
    document.body.style.overflow = 'hidden';
},
onClosed:function(){
    document.body.style.overflow = $overflow;
},
onComplete:function(){
    $.colorbox.resize();
}
};

$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
$("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


$(document).one('ajaxloadstart.page', function(e) {
$('#colorbox, #cboxOverlay').remove();
});
})
</script>
